@charset "utf-8";
@font-face {
    font-family: 'FakePearl-Regular';
    src: url('/fonts/FakePearl-Regular.woff2') format("woff2"), 
		 url('/fonts/FakePearl-Regular.woff') format("woff");

	font-weight: normal;
    font-style: normal;
}

::selection, ::-moz-selection {
	background: #E3BABA;
	color: #ffffff;
}

html {
	font-family: 'FakePearl-Regular', sans-serif;
	
	height: 100%;
	margin: 0;
}

body {
    margin: 0;
    min-height: 100%;
    background-image: url('/img/bg/kv_bg2.jpg'); /* 指定背景图片 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-position: center;
    background-attachment: fixed; /* 背景图片固定不动 */
    z-index: -1;
}

body:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/img/bg/kv_bg2.jpg') center 0 no-repeat;
    background-size: cover;
}

a {
	transition: .5s;
}

.mob {
	display: none !important;
}


